/**
 * Remember your why
 *
 * font import in App.css
 **/
@media only screen and (min-width: 250px ) {
    .nav-container {
        display:          flex;
        flex-direction:   column;
        justify-content:  center;
        align-items:      center;
        width:            100vw;
        padding:          1.5rem 1rem;
        border-bottom:    .25rem solid black;
        background-color: rgba(76, 91, 97, 1);
        }

    .nav-header-container {
        margin-right: 3rem;
        margin-bottom: 2rem;
        }

    .nav-header {
        color:       ghostwhite;
        font-family: "Segoe Script", serif;
        font-size:   4rem;
        font-weight: bolder;
        text-align:  center;
        }

    nav {
        display:         flex;
        justify-content: space-around;
        margin-right: 3rem;
        }

    .nav-links {
        padding:          .5rem;
        margin:          .5rem;
        color:            ghostwhite;
        font-family:     "Segoe UI Semibold", monospace;
        font-size:       1.75rem;
        text-decoration: none;
        background-color: rgba(182, 203, 158, .25);
        border-radius:    3rem;
        white-space:      nowrap;
        }
    }

@media only screen and (min-width: 600px) {
    .nav-container {
        flex-direction:  row;
        justify-content: space-between;
        padding: 0 4rem;
        }

    .nav-header {
        margin-top: 1rem;
        }

    .nav-links {
        font-size:  2rem;
        text-align: center;
        }
    }

@media only screen and (min-width: 992px) {
    .nav-container {
        justify-content: space-between;
        }

    .nav-header {
        margin-top:   2rem;
        margin-right: 2rem;
        }
    }

@media only screen and (min-width: 1200px) {
    .nav-container {
        padding: 0 7rem;
        }
    }

@media only screen and (min-width: 1800px) {
    .nav-container {
        padding: 0 22rem;
        }
    }
